* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.resolve-style {
  background-color: green;
  width: 100px;
  height: 50px;
}

.reject-style {
  background-color: red;
  width: 150px;
  height: 20px;
}
